
body{
	background-color:#336B87;
    color:  #90AFC5;
}

h1{
	color:   #F9F6F4;
	text-align: center;
	font-style: italic;
	font-size: 28pt;
}

h2{
	text-align: center;
	color: #2A3132;
	font-size: 18pt;
}

.lobo{
	text-align: center;
	font-style: italic;
	padding-right: 250px;
	padding-left: 250px;
	font-size: 16pt;
}

.autor{
	text-align: right;
	padding-right: 250px;
}

.fecha{
    font-size: 10pt;
    text-align: right;
	padding-right: 250px;
}
